 header{
             background-color: rgb(250, 250, 158);
            text-align: center;
            padding: 10px;
        }
        h1{
            background-color: rgb(250, 250, 158);
        }
        nav{
            background-color: lightgray;
            padding: 5px;
        }
        .headbutton{
            text-align: center;
            padding: 10Px;
            margin: 2px 25px;
            background-color: rgb(111, 111, 111);
            
        }
        a{
            color: lightgray;
            
        }
        main{
            background-color: rgb(170, 86, 248);
        }
        footer{
            background-color: rgb(250, 250, 158);
            text-align: center;
            padding: 10px;
        }